.main{
    display: flex;
    justify-content: center;
    /* border: 2px solid green; */
    margin-top: 20%;
}

.searchBarContainer{
    border: 2px solid black;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    padding: 1em;
}

.searchBarInput{
    width: 70%;
    outline: none;
    border: none;
}

.searchIconContainer{
    border: 2px solid blue;
    border-radius: 1em;
    background-color: blue;
    color: white;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}