@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

.title{
    /* border: 2px solid red; */
    margin-top: 20%;
    text-align: center;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.main{
    display: flex;
    justify-content: center;
    /* border: 2px solid green; */
}

.searchBarContainer{
    border: 2px solid black;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    padding: 0.5em;
}

.searchBarInput{
    width: 70%;
    outline: none;
    border: none;
    height: 25px;
    font-family: sans-serif;
}

.iconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clearIconContainerEN{
    margin-right: 1em;
    visibility: visible;
    font-size: larger;
}

.clearIconContainerNA{
    margin-right: 1em;
    visibility: hidden;
}

.clearIconContainerEN:hover{
    color: crimson;
    cursor: pointer;
}

.searchIconContainer{
    border: 2px solid blue;
    border-radius: 1em;
    background-color: blue;
    color: white;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.searchIconContainer:hover{
    cursor: pointer;
}

.resultContainer{
    /* border: 2px solid red; */
    margin-top: 2em;
    text-align: center;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 30px;
}

.names{
    margin-top: 0.5em;
}